<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/CheckBoxDataGrid.mxml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_DEBUG_URL" value="file:/C:/Users/RobertShi/Documents/GitHub/Flex/CheckBoxDataGrid/bin-debug/CheckBoxDataGrid.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROFILE_URL" value="file:/C:/Users/RobertShi/Documents/GitHub/Flex/CheckBoxDataGrid/bin-debug/CheckBoxDataGrid.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="CheckBoxDataGrid"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/C:/Users/RobertShi/Documents/GitHub/Flex/CheckBoxDataGrid/bin-debug/CheckBoxDataGrid.html"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CheckBoxDataGrid"/>
<listEntry value="/CheckBoxDataGrid/src/CheckBoxDataGrid.mxml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
